<!-- <h3 class="appHeader">This is App Component Header</h3>

<h3>Success And Warning Alert Practice Exercise</h3>
<app-success-alert></app-success-alert>
<app-warning-alert></app-warning-alert>
<hr>

<h3>Data-Binding Practice Exercise</h3>
<app-databinding></app-databinding>
<hr>

<h3>Directives Practice Exercise</h3>
<app-directives-example></app-directives-example> -->
<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-recipes></app-recipes>
            <app-shopping-list></app-shopping-list>
        </div>
    </div>
</div>