<div class="container">
  <div class="row">
    <form [formGroup]="sampleform" (ngSubmit)="onFormSubmit()">
      <input
        class="form-control"
        type="text"
        placeholder="Enter Project Name"
        formControlName="projectname"
      />

      <!-- <span *ngIf="sampleform.get('projectname').errors['invalidName']"
        >This name is invalid!</span
      > -->

      <span *ngIf="sampleform.get('projectname').touched && sampleform.get('projectname').errors['required']">
            This field is required!
      </span>

      <input class="form-control" type="text" formControlName="projectemail" />
      <p
        *ngIf="
          !sampleform.get('projectemail').valid &&
          sampleform.get('projectemail').touched
        "
        class="help-block"
      >
        Email is not valid
      </p>

      <select class="form-control" formControlName="projectStatus">
        <option value="stable">Stable</option>
        <option value="critical">Critical</option>
        <option value="finished">Finished</option>
      </select>

      <button type="submit" class="btn btn-primary">
        Submit
      </button>
    </form>
  </div>
</div>
